.dog {
  width: 100px;
  margin: 10px;
}

.meme {
  width: 50px;
  margin: 5px;
}

#details {
  display: none;
  gap: 2px;
}

.heading {
  text-align: center;
  color: white;
  background: gray;
  border: 1px solid black;
  margin: 2px 0;
}

.detail-text {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 0;
  height: 100%;
}

select {
  margin-bottom: 20px;
}
